* {
  font-family: "Courier New", Courier, monospace;

  box-sizing: border-box;
  list-style: none;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.container button {
  margin: 5px;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}
.container button:hover {
  opacity: 0.5;
}
.questions {
  border: 1px solid red;
}
