* {
  font-family: "Courier New", Courier, monospace;

  box-sizing: border-box;
  list-style: none;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 5px;
}
.container button {
  margin: 5px;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}
.container button:hover {
  opacity: 0.5;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
